@charset "utf-8";

.gray_gradient {
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(226,228,232,1) 79%, rgba(200,205,212,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(79%,rgba(226,228,232,1)), color-stop(100%,rgba(200,205,212,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(226,228,232,1) 79%,rgba(200,205,212,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(226,228,232,1) 79%,rgba(200,205,212,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(226,228,232,1) 79%,rgba(200,205,212,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(226,228,232,1) 79%,rgba(200,205,212,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#c8cdd4',GradientType=0 ); /* IE6-9 */
}
